:root {
    --grean: #5ad3bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header {
    top: 0;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    background: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(108, 107, 107, 0.4);
    height: 7rem;
}

.header .row {
    background: #ffffff;
    display: flex;
    align-items: center;
    height: 7rem;
}

.header .row .col-md-2 {
    text-align: center;
}

.header .row .col-md-6 {
    margin-top: 1rem;
}

.header .row .col-md-6 input {
    height: 4rem;
    cursor: none;
    border: none;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    font-size: 1.3rem;
    background: #e7e3e37b;

}

.header .row .col-md-6 span {
    height: 4rem;
    cursor: none;
    border: none;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    background: #e7e3e37b;
}

.header .row .col-md-2 .btn {
    background: var(--grean);
    height: 3.5rem;
    width: 10rem;
    border-radius: .7rem;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: bolder;
}

/* 
menu */

.menu {
    background: var(--grean);
    height: 5rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.menu .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.dropd {
    background: none;
    border-radius: 1.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.dropdown-item {
    background: none;
    border-radius: 1.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.menu .nav li {

    background: none;
    border-radius: 1.5rem;
    margin-top: .5rem;
    font-weight: bold;
}

.menu .nav a {
    font-size: 2rem;
}

/* ảnh tự động */

/* ảnh tự động */

/* ảnh banner */

.divimgbanner {

    width: 100%;
    display: flex;
    justify-content: center;

}

.boximg {
    width: 90rem;
    margin-top: 2rem;


}

.imgsize {
    height: 50rem;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.btnbgr {
    display: none;
}

.dt img {
    width: 15rem;
    height: 15rem;
}

.dt .card {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.dt .card h5 {
    font-weight: bolder;
}

.dt h3 {
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 3rem;
    font-weight: bold;
    color: var(--grean);
    background-color: rgba(114, 223, 187, 0.171);
}

.dt .card .sale {
    color: azure;
    background: #82c7f5;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.pk .sale {
    color: azure;
    background: #82c7f5;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.card-text {
    color: #d80101;
}

.pk .card {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28rem;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.pk img {
    width: 15rem;
    height: 15rem;
}

.footer img {
    width: 100%;
}